A:link
{
    COLOR: #0000ff;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #800080;
    TEXT-DECORATION: none
}
A:hover
{
    TEXT-DECORATION: underline
}
.Item
{
    BORDER-RIGHT: #333399 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #333399 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #333399 1px solid;
    WIDTH: 75px;
    cursor: pointer;
    COLOR: white;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #333399 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #A7CBE7;
    TEXT-ALIGN: center;
    /* height: 30px; */
}
.Highlight
{
    BORDER-RIGHT: #333399 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #333399 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #333399 1px solid;
    WIDTH: 75px;
    cursor: pointer;
    COLOR: white;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #333399 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #A7CBE7;
    TEXT-ALIGN: center;
    /* height: 30px; */
}
.mnuItem
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #A7CBE7;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuHighlight
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #cecece;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubItem
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #B9B9B9;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubHighlight
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #B9B9B9;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSelected
{
    BORDER-RIGHT: #333399 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #333399 1px solid;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #333399 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #333399 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #fafad2;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubItem1
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #B9B9B9;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubHighlight1
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #B9B9B9;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSelected1
{
    BORDER-RIGHT: #333399 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #333399 1px solid;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #333399 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #333399 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #B9B9B9;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubItem2
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #CCCCCC;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubHighlight2
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #CCCCCC;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSelected2
{
    BORDER-RIGHT: #333399 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #333399 1px solid;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #333399 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #333399 1px solid;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #CCCCCC;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubItem3
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 20px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #D9D9D9;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubHighlight3
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 20px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #D9D9D9;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSelected3
{
    BORDER-RIGHT: #333399 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #333399 1px solid;
    PADDING-LEFT: 20px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #333399 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #333399 1px solid;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #D9D9D9;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubItem4
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 25px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #ffffff 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #EEEEEE;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSubHighlight4
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 25px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #EEEEEE;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.mnuSelected4
{
    BORDER-RIGHT: #333399 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #333399 1px solid;
    PADDING-LEFT: 25px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #333399 1px solid;
    WIDTH: 144px;
    cursor: pointer;
    COLOR: #ff0033;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #333399 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #EEEEEE;
    TEXT-ALIGN: left;
    /* height: 24px; */
}
.thinBorderBlue
{
    BORDER-RIGHT: #9DACBF 1px solid;
    BORDER-TOP: #9DACBF 1px solid;
    BORDER-LEFT: #9DACBF 1px solid;
    BORDER-BOTTOM: #9DACBF 1px solid;
}
.thinBorderLeft
{
    BORDER-LEFT: #CECECE 1px solid;
}
.thinBorderRight
{
    BORDER-RIGHT: #CECECE 1px solid;
}

.thinBorderDouble
{
    BORDER-TOP: #CECECE 1px solid;
    BORDER-BOTTOM: #CECECE 1px solid;
	BACKGROUND-COLOR: #F9F9F9;
}

.thinBorder
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid;
}

TABLE.webpart
{
		width: 100%;
		padding: 0px;
		
		font-family: Verdana, Arial, Helvetica, sans-serif;
    border-right: #333366 1px solid;
    border-top: #333366 1px solid;
    border-left: #333366 1px solid;
    border-bottom: #333366 1px solid;
}

TD.webpart
{
	PADDING: 0px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: black;
	FONT-STYLE: normal;
	FONT-FAMILY: verdana;
	BACKGROUND-COLOR: #eeeeee;
	TEXT-ALIGN: left;
	HEIGHT: 24px;
}

body
{
    font-family: Verdana, Arial, Helvetica, sans-serif
}
p {  font-family: Verdana, Arial, Helvetica, sans-serif}
ul {  font-family: Verdana, Arial, Helvetica, sans-serif}
table
{  font-family: Verdana, Arial, Helvetica, sans-serif}

.addsItem
{
    PADDING-RIGHT: 2px;
    BORDER-TOP: #EEEEEE 1px solid;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    TEXT-ALIGN: left;
    height: 12px;
}
.addsItemCateg
{
    PADDING-RIGHT: 2px;
    BORDER-TOP: #EEEEEE 1px solid;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 1px;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    TEXT-ALIGN: left;
    height: 12px;
}
.addsItemLink
{
    PADDING-RIGHT: 2px;
    BORDER-TOP: #EEEEEE 0px solid;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    FONT-STYLE: normal;
    FONT-FAMILY: verdana;
    TEXT-ALIGN: left;
    height: 12px;
}
.MenuText {font-size: 11px;
}
.SeeAlso
{
	background-image:url(/images/Box.gif); 
	background-repeat:repeat-x;
	background-color:#EAEAEB; 
	padding-left:3px;
	height:22px; 
	border-bottom:#CCCCCC 1px solid; 
	border-right:#CECECE 1px solid; 
	border-top:#FFFFFF 1px solid; 
	border-left:#CECECE 1px solid; 
	margin-top:3px; 
	color:#333333;
	font-size:11px;
	font-weight:bold;
}
.WPnew
{
	background-image:url(/images/Box6.gif); 
	background-repeat:repeat-x;
	background-color:#99BFDF; 
	padding-left:3px;
	height:21px; 
	border-bottom:#6699CC 1px solid; 
	border-right:#CECECE 1px solid; 
	border-top:#FFFFFF 1px solid; 
	border-left:#6699CC 1px solid; 
	margin-top:3px; 
	color:#333333;
	font-size:11px;
	font-weight:bold;
}

.News
{
	background-image:url(/images/Box.gif); 
	background-repeat:repeat-x;
	background-color:#EAEAEB; 
	padding:6px 0 4px 4px; 
	margin-top:0px;
	height:22px; 
	border-bottom:#CCCCCC 1px solid; 
	border-right:#CECECE 1px solid; 
	border-left:#CCCCCC 1px solid; 
	color:#333333;
	font-size:11px;
	font-weight:bold;
}
.Media
{
	background-image:url(/images/Box6.gif); 
	background-repeat:repeat-x;
	background-color:#99BFDF; 
	padding:6px 0 4px 4px; 
	margin-top:0px;
	height:21px; 
	border-bottom:#6699CC 1px solid; 
	border-right:#CECECE 1px solid; 
	border-left:#6699CC 1px solid; 
	color:#333333;
	font-size:11px;
	font-weight:bold;
}

.Restricted {
	border:#bb0500 1px solid; 
	height:50px; 
	background:url(/images/bgRestricted.gif); 
	background-repeat:repeat-x; 
	background-color:#ce0000;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
	}