body
{
	margin:0 auto;
	background-image: url("#");
	background-repeat:no-repeat;
	background-size:100% 720px;
	
}
.container
{
	width:500px;
	height:400px;
	text-align:center;
	background-color:rgba(52,73,94,0.7);
	border-radius:4px;
	margin:0 auto;
	margin-top:150px;
}
.container img
{
	width:150px;
	height:150px;
	margin-top:-60px;
	margin-bottom:30px;
}
.form-id input
{
	width:200px;
	height:30px;
	font-size:18px;
	margin-bottom:20px;
	background-color:#fff;
	padding-left:30px;
}
.form-pass input
{
	width:200px;
	height:30px;
	font-size:18px;
	margin-bottom:20px;	
	background-color:#fff;
	padding-left:30px;
	
}
.form-id::before
{
	content:"\f007";
	position:absolute;
	font-family:"FontAwesome";
	font-size:20px;
	padding-left:5px;
	padding-top:7px;
	color:#9B59B6;
}

.form-pass::before
{
	content:"\f023";
	position:absolute;
	font-family:"FontAwesome";
	font-size:20px;
	padding-left:5px;
	padding-top:7px;
	color:#9B59B6;
}
.btn-login
{
	padding:10px 25px;
	color:#fff;
	background-color:#2ECC71;
	border-radius:4px;
	border:none;
	border-bottom:4px solid #27AE60;
	margin-bottom:20px;
	cursor:pointer;
}
a
{
	color:white;
	
}