#menu span
{	
	float: left;
	margin-left: 7px;	
}
.mnuLevel0
{
	padding-right: 3px;
	padding-left: 3px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	width: 144px;	
	cursor: pointer;
	color: white;
	padding-top: 3px;
	font-style: normal;
	font-family: verdana;
	background-color: #A7CBE7;
	text-align: left;
	height: 18px;
	border-bottom: #ffffff 1px solid;
}

.mnuLevel1
{
	padding-right: 3px;
	padding-left: 10px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	font-style: normal;
	font-family: verdana;
	background-color: #B9B9B9;
	text-align: left;
	height: 18px;
	border-bottom: #ffffff 1px solid;
}

.mnuLevel2
{
	padding-right: 3px;
	padding-left: 17px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #CCCCCC;
	text-align: left;
	height: 18px;
}

.mnuLevel3
{
	padding-right: 3px;
	padding-left: 24px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #D9D9D9;
	text-align: left;
	height: 18px;
}

.mnuLevel4
{
	padding-right: 3px;
	padding-left: 31px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #EEEEEE;
	text-align: left;
	height: 18px;
}

A:link
{
	text-decoration: none;
}
A:visited
{
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
}
.Item
{
	border-right: #333399 1px solid;
	padding-right: 5px;
	border-top: #333399 1px solid;
	padding-left: 5px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 5px;
	border-left: #333399 1px solid;
	width: 75px;
	cursor: pointer;
	color: white;
	padding-top: 5px;
	border-bottom: #333399 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #339999;
	text-align: center;
	height: 30px;
}
.Highlight
{
	border-right: #333399 1px solid;
	padding-right: 5px;
	border-top: #333399 1px solid;
	padding-left: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-bottom: 5px;
	border-left: #333399 1px solid;
	width: 75px;
	cursor: pointer;
	color: white;
	padding-top: 5px;
	border-bottom: #333399 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #ff0000;
	text-align: center;
	height: 30px;
}
.mnuItem
{
	border-right: #ffffff 1px solid;
	padding-right: 3px;
	border-top: #ffffff 1px solid;
	padding-left: 3px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #ffffff 1px solid;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #A7CBE7;
	text-align: left;
	height: auto;
	display:block;
}
.mnuHighlight
{
	border-right: #000000 1px solid;
	padding-right: 3px;
	border-top: #000000 1px solid;
	padding-left: 3px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #000000 1px solid;
	width: 144px;
	cursor: pointer;
	color: #ff0033;
	padding-top: 3px;
	border-bottom: #000000 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #cecece;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSubItem
{
	border-right: #ffffff 1px solid;
	padding-right: 3px;
	border-top: #ffffff 1px solid;
	padding-left: 3px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #ffffff 1px solid;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #A7CBE7;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSubHighlight
{
	border-right: #000000 1px solid;
	padding-right: 3px;
	border-top: #000000 1px solid;
	padding-left: 3px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #000000 1px solid;
	width: 144px;
	cursor: pointer;
	color: #ff0033;
	padding-top: 3px;
	border-bottom: #000000 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #A7CBE7;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSelected
{
	border-right: #333399 1px solid;
	padding-right: 3px;
	border-top: #333399 1px solid;
	padding-left: 3px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #333399 1px solid;
	width: 144px;
	color: #000000;
	padding-top: 3px;
	border-bottom: #333399 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #fafad2;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSubItem1
{
	border-right: #ffffff 1px solid;
	padding-right: 3px;
	border-top: #ffffff 1px solid;
	padding-left: 10px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #ffffff 1px solid;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #B9B9B9;
	text-align: left;
	height: auto;	
	display:block;
}
.mnuSubHighlight1
{
	border-right: #000000 1px solid;
	padding-right: 3px;
	border-top: #000000 1px solid;
	padding-left: 10px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #000000 1px solid;
	width: 144px;
	cursor: pointer;
	color: #ff0033;
	padding-top: 3px;
	border-bottom: #000000 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #B9B9B9;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSelected1
{
	border-right: #333399 1px solid;
	padding-right: 3px;
	border-top: #333399 1px solid;
	padding-left: 10px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #333399 1px solid;
	width: 144px;
	color: #000000;
	padding-top: 3px;
	border-bottom: #333399 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #fafad2;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSubItem2
{
	border-right: #ffffff 1px solid;
	padding-right: 3px;
	border-top: #ffffff 1px solid;
	padding-left: 15px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #ffffff 1px solid;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #CCCCCC;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSubHighlight2
{
	border-right: #000000 1px solid;
	padding-right: 3px;
	border-top: #000000 1px solid;
	padding-left: 15px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #000000 1px solid;
	width: 144px;
	cursor: pointer;
	color: #ff0033;
	padding-top: 3px;
	border-bottom: #000000 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #CCCCCC;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSelected2
{
	border-right: #333399 1px solid;
	padding-right: 3px;
	border-top: #333399 1px solid;
	padding-left: 15px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #333399 1px solid;
	width: 144px;
	color: #000000;
	padding-top: 3px;
	border-bottom: #333399 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #fafad2;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSubItem3
{
	border-right: #ffffff 1px solid;
	padding-right: 3px;
	border-top: #ffffff 1px solid;
	padding-left: 20px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #ffffff 1px solid;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #D9D9D9;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSubHighlight3
{
	border-right: #000000 1px solid;
	padding-right: 3px;
	border-top: #000000 1px solid;
	padding-left: 20px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #000000 1px solid;
	width: 144px;
	cursor: pointer;
	color: #ff0033;
	padding-top: 3px;
	border-bottom: #000000 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #D9D9D9;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSelected3
{
	border-right: #333399 1px solid;
	padding-right: 3px;
	border-top: #333399 1px solid;
	padding-left: 20px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #333399 1px solid;
	width: 144px;
	color: #000000;
	padding-top: 3px;
	border-bottom: #333399 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #fafad2;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSubItem4
{
	border-right: #ffffff 1px solid;
	padding-right: 3px;
	border-top: #ffffff 1px solid;
	padding-left: 25px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #ffffff 1px solid;
	width: 144px;
	cursor: pointer;
	color: black;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #EEEEEE;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSubHighlight4
{
	border-right: #000000 1px solid;
	padding-right: 3px;
	border-top: #000000 1px solid;
	padding-left: 25px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #000000 1px solid;
	width: 144px;
	cursor: pointer;
	color: #ff0033;
	padding-top: 3px;
	border-bottom: #000000 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #EEEEEE;
	text-align: left;
	height: auto;
	display:block;
}
.mnuSelected4
{
	border-right: #333399 1px solid;
	padding-right: 3px;
	border-top: #333399 1px solid;
	padding-left: 25px;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #333399 1px solid;
	width: 144px;
	color: #000000;
	padding-top: 3px;
	border-bottom: #333399 1px solid;
	font-style: normal;
	font-family: verdana;
	background-color: #fafad2;
	text-align: left;
	height: auto;
	display:block;
}
.thinBorderBlue
{
	border-right: #9DACBF 1px solid;
	border-top: #9DACBF 1px solid;
	border-left: #9DACBF 1px solid;
	border-bottom: #9DACBF 1px solid;
}
.thinBorderLeft
{
	border-left: 1px solid;
}
.thinBorderRight
{
	border-right: 1px solid;
}

body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
p
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
ul
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
table
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
